<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>479600907310-rh1s9nbob32gbg5ia0cimjoamnesgn5v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.479600907310-rh1s9nbob32gbg5ia0cimjoamnesgn5v</string>
	<key>API_KEY</key>
	<string>AIzaSyAosjzag1YzfI9jaNlZ908747wtcHOm5fY</string>
	<key>GCM_SENDER_ID</key>
	<string>479600907310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.vitorcime.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-c450a</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-c450a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:479600907310:ios:ae625d17f67f855f427bbf</string>
</dict>
</plist>